/*
* Desenvolvido por Marcos Aurelio - 2017 - Versão 1.0.0
*/

/* ========================= layout ======================== */
html, body
{
	height: 100%;
}

body
{	
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;	
	position: relative;	
}

/* -- Barra de navegação -- */

.logo
{
	height: 40px;
	width: 132px;
	display: block;
	background: no-repeat;
	background-size: contain;	
}

.navbar-brand
{
	padding: 5px 15px;
}

#brand-administracao
{
	padding: 15px 15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    color: white;
}

.navbar-default
{	
	background: #27408B;
	border: none;
	margin-bottom: 15px;
}

.navbar-default .navbar-nav > li > a
{
	color: white;
}

.navbar-default .navbar-nav>li>a:hover, .nav a:hover
{
	color: white;
	background: none;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover
{
    color: white;
    background-color: #27408B;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover
{
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: #A7D4F5;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
{
	background-color: #A7D4F5;
}

/* -- Dropdowm menu -- */

.dropdown-submenu
{
  position: relative;
}

.dropdown-submenu > .dropdown-menu
{
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu > a:after
{
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}

.dropdown-submenu:hover > .dropdown-menu
{
  display: block;
}

.dropdown-submenu:hover > a:after
{
  border-left-color: #555;
}

.dropdown-submenu .pull-left
{
  float: none;
}
.dropdown-submenu .pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.dropdown:hover > .dropdown-menu
{
	display: block;
}

/**@media (max-width: 768px)
{
	.dropdown:hover > .dropdown-menu
	{
		display: block;
	}
}*/

/* -- Banner-- */

 .carousel-inner img
 { 	 
    margin: auto;
 }

 .carousel-control.right, .carousel-control.left
 {
 	background-image: none;
 	color: #27408B;
 }

 .carousel-indicators li
 {
 	border-color: #27408B;
 }

.carousel-indicators li.active
{
	background-color: #27408B;
}

/* -- Capa-- */

.texto-capa
{
	text-align: center;
	color: white;
	display: table-cell; /*A classe texto-capa se comportará como celula de uma tabela  */
	vertical-align: middle; 
}

#banner
{	
	padding-top: 50px;		
}

/* -- Institucional-- */

.conteudo
{
	margin: 50px auto 15px auto;
}

/* -- Contato -- */

#contato
{
	width: 100%;
	margin-bottom: 15px;	
}

/* -- rodape -- */

#rodape
{	
	position: relative;		
	padding: 50px 0px 20px 0px;
	background-color: #27408B;		
}

#rodape-endereco
{
	padding-top: 10px;
}

#forma-pagamento
{
	color: white;
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}

.item-rede-social
{
	float: left;	
	padding: 5px;	
}

.item-rede-social>a
{
	color: #A7D4F5;
}

.item-rede-social>a:hover
{
	color: white;
}

#rodape-copyright
{		
	text-align: center;
	margin-top: 50px;
	color: white;		
}

#rodape-copyright>a
{
	color: white;
}

/* -- Botão Topo rodapé -- */

.btn-topo
{	
	margin-left: 50%;
	margin-right: 50%;	
}

.btn-topo>a
{
	color: #A7D4F5;
}

.btn-topo>a:hover
{
	color: white;
}

/* -- Formularios Administração -- */

.panel-primary
{
    border-color: #27408B;
}

.panel-primary > .panel-heading, .btn-primary
{
	background-color: #27408B;
	border-color: #27408B;
}

/* -- Formulário cadastrar produto -- */

.formularios
{
	margin-top: 50px;
}

/* -- Menus Administração -- */

.btn-menu > a
{
	color: white;
	text-decoration: none;
}

/* -- Catalogo -- */

.thumbnail .caption
{
	color: #27408B;
	text-align: center;
	font-weight: bold;
}

/* ========================= Tipografia ======================== */

#contato h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #27408B;
	text-align: center;
	margin: 60px 0px 10px 0px;
}

#produtos h2
{	
	color: #27408B;
	text-align: left;
	margin: 60px 0px 10px 0px;
}

#produtos h3
{
	color: #27408B;	
}

#rodape-pagamento h3
{
	margin-top: 0px;
	font-size: 18px;	
	color: white;
}

#contato p
{	
	font-size: 18px;
	color: #27408B;
}

#rodape-endereco, #rodape-pagamento p
{
	color: white;	
}

/*
h1
{
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;	
}

h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: white;
}

h3
{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.04em;	
}

h4
{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

#contato h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #3A96D8;
}

#portfolio, #contato h2
{
	text-align: center;	
}

#recursos h3
{
	color: #9bf0e1;
}

#apresentacao p
{
	font-size: 20px;
	color: #3A96D8;
}

#apresentacao h2
{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
	color: #3A96D8;
}
*/